.filter-btns-item {
  transition: 250ms $transition-timing-function;
  padding: 6px 22px;
  @include font(700, 14px, 1.62, 0.03em);
  background-color: $bcg-icon-color;
  border: none;
  border-radius: 4px;
  &:hover,
  &:focus {
    background-color: $accent-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    color: $bcg-icon-color;
    border-radius: 4px;
    border: none;
  }
}
@media screen and (max-width: 767px) {
  .filter {
    margin-bottom: 40px;
  }
  .btns-1 {
    display: flex;
    margin-bottom: 15px;
  }
  .btns-2 {
    display: flex;
  }
  .filter-list-btns-item:not(:last-child) {
    margin-right: 8px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
  .filter-list-btns {
    display: flex;
    justify-content: center;
  }
  .btns-1 {
    display: flex;
    margin-right: 8px;
  }
  .btns-2 {
    display: flex;
  }
  .filter-list-btns-item:not(:last-child) {
    margin-right: 8px;
  }
}
