.our-projects-list-item {
  height: 404px;
}
.portfolio-wrapper {
  height: 294px;
  position: relative;
  overflow: hidden;
  display: block;
}
.overlay {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 250ms $transition-timing-function;
}
.our-projects-list-item:hover .overlay {
  opacity: 1;
  top: 0;
  left: 0;
  cursor: pointer;
}
.techno {
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  display: block;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  @include font(700, 18px, 1.55, 0.03em);
  color: $secondary-title-font-color;
}
.techno-link {
  width: 450px;
}
.title-techno {
  @include font(900, 18px, 2, 0.06em);
  color: $main-title-font-color;
}
.category {
  margin-top: 4px;
  /* margin-left: 24px; */
  @include font(700, 16px, 1.87, 0.03em);
  color: $text-color;
}
.techno-crack {
  padding: 20px 24px;
}
.our-projects-list-item {
  width: 450px;
}
.our-projects-list-item:nth-child(3n) {
  margin-right: 0;
}
.our-projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.title-techno {
  margin-bottom: 4px;
}
.our-works {
  border-top: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .our-projects-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .our-projects {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .our-projects-list-item {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .our-projects-list-item {
    width: calc((100% - 6 * 15px) / 3);
  }
  .our-projects-list-item {
    height: 404px;
  }
  .techno {
    @include font(700, 18px, 1.55, 0.03em);
  }
}
