.regular-customers {
  @include font(900, 36px, 1.17, 0.03em);
  color: $main-title-font-color;
}
.regular-customers-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.regular-customers-list-item {
  margin: 15px;
}
.regular-customers-list-item-link {
  @extend %center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms $transition-timing-function;
  fill: #afb1b8;
  color: #afb1b8;
  &:hover {
    color: $accent-color;
    fill: $accent-color;
    border: 1px solid $accent-color;
  }
}
.regular-customers-list-item-svg {
  transition: fill 250ms $transition-timing-function;
}
@media screen and (max-width: 767px) {
  .regular-customers-list-item {
    width: calc((100% - 4 * 15px) / 2);
  }
}
@media screen and (min-width: 767px) {
  .regular-customers-list-item {
    width: calc((100% - 6 * 15px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .regular-customers-list {
    flex-wrap: nowrap;
    .regular-customers-list-item {
      width: calc((100% - 12 * 15px) / 6);
    }
  }
}
