.what-we-do {
  display: none;
  padding-top: 0;
}
.what-we-do-list {
  display: flex;
}
.what-we-do-secondary-title {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  padding: 27px;
  width: 100%;
  text-align: center;
  @include font(900, 14px, 1.14, 0.03em);
  color: $secondary-title-font-color;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
}
.what-we-do-list-item {
  position: relative;
  width: 370px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .what-we-do {
    display: block;
  }
}
