.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
.contacts-footer {
  display: block;
  text-align: center;
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: $secondary-title-font-color;
  span {
    color: $accent-color;
  }
}
.footer-container > a {
  color: $secondary-title-font-color;
}
.address {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 60px;
  @include font(700, 14px, 1.21em);
  color: $secondary-title-font-color;
}
.list-address-item-link-footer {
  transition: 250ms $transition-timing-function;
  @include font(500, 14px, 1.166, 0.02em);
  color: $text-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-container-item {
  @include font(900, 14px, 1.71, 0.03em);
  color: $secondary-title-font-color;
}
.our-team-list-ikon-footer {
  padding-bottom: 0;
  @extend %center;
}
.our-team-list-ikon-item-link-footer {
  @extend %center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms $transition-timing-function;
}
.our-team-list-ikon-item-link-svg-footer {
  width: 20px;
  height: 20px;
  fill: $secondary-title-font-color;
}
.address-list {
  font-style: normal;
}
.join-in {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .logo-footer {
    display: block;
    text-align: center;
  }
  .join {
    text-align: center;
  }
  .our-team-list-ikon-footer {
    padding-bottom: 0;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .join-footer {
    margin-right: 89px;
  }
  .flex-container {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    max-width: 1600px;
  }
  .footer-tab {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
  }
  .contacts-footer {
    margin-right: 69px;
    text-align: start;
  }
  .flex-container {
    display: flex;
  }
  .contacts {
    padding-top: 60px;
  }
  .join {
    margin-right: 94px;
    padding-top: 72px;
    padding-bottom: 100px;
  }
}
