$bcg-icon-color: #f5f4fa;
$accent-color: #2196f3;
$main-title-font-color: #212121;
$secondary-title-font-color: #ffffff;
$text-color: #757575;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
